name: Node.js CI

on:
  push:
    branches:
      - main  # Change this to your main branch name

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 18  # Change this to your Node.js version

    - name: Install dependencies
      run: npm install

    - name: Run tests
      run: npm test
    -name: Build and Push Docker Image
      env:
        DOCKER_USERNAME: " ${{ secrets.DOCKER_USERNAME }}"
        DOCKER_PASSWORD: " ${{ secrets.DOCKER_PASSWORD }}"
      run: |
        docker build -t homeworkImage:latest .
        echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        docker push homeworkImage:latest

